html {
	font-family: Helvetica;
	text-align: center;
	margin: 0 auto;
}

body {
	background-color: #FAFAF7;
}

h2 {
	font-size: 44px;
	padding-top: 10px;
}

#map-canvas, #places {
	padding: 30px 0 0 0;
	height: 300px;
	width: 50%;
	float: left;
}

